<app-navbar></app-navbar>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>

<!-- <router-outlet></router-outlet> -->
<table class="table table-sm table-striped">
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Studio</th>
    <th>Ratings</th>
  </tr>
  <tr *ngFor= "let item of items">
    <td>{{item?.name || 'Loading Data..'}}</td>
    <td>{{item?.category || 'Loading Data..' }}</td>
    <td>{{item?.description || 'Loading Data..' }}</td>
    <td>{{item?.price || 'Loading Data..' }}</td>
    <td>{{item?.studio?.name}}</td>
  </tr>
</table>



<!--1-->
<!-- <table class="table table-sm table-striped">
  <tr>
	<th>Name</th>
	<td>{{item?.name || 'Loading Data..'}}</td>
  </tr>
  <tr>
	<th>Category</th>
	<td>{{item?.category || 'Loading Data..' }}</td>
  </tr>
  <tr>
	<th>Description</th>
	<td>{{item?.description || 'Loading Data..' }}</td>
  </tr>
  <tr>
    <th>Price</th>
	<td>{{item?.price || 'Loading Data..' }}</td>
  </tr>
  <tr><th colspan="2" class="bg-info">Studio</th></tr>
  <tr>
    <th>Name</th>
	<td>{{item?.studio?.name}}</td>
  </tr>
  <tr>
    <th>City</th>
	<td>{{item?.studio?.city}}</td>
  </tr>
  <tr>
    <th>State</th>
	<td>{{item?.studio?.state}}</td>
  </tr>
  <tr>
    <th>Items</th>
	<td>{{item?.studio?.items.length}}</td>
  </tr>

</table> -->



